/* cards actualidad */
nav li {
  font-weight: 800;
  padding-right: 10px;
  list-style: none;
  font-size: x-large;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
  border-radius: 20px;
  background-color: #000000;
}

header {
  display: flex;
  background-color: rgb(0, 0, 104);
  justify-content: space-between;
  min-height: 125px;
  align-items: center;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
  border-radius: 20px;
  background-color: #000000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 85px;
  margin-right: 15px;
}

nav {
  width: 900px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

nav li {
  font-weight: 800;
  padding-right: 10px;
  list-style: none;
  font-size: x-large;
}

nav a:hover {
  color: red;
}

div {
  text-decoration: none;
  color: white;
}

.card-body {
  color: #000000;
}

body {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #eb0022, #eb0022, #eb0022, #eb0022, #eb0022, #d80027, #c5002a, #b1002c, #840c2b, #591124, #2f1018, #000000);
  margin: 0%;
  font-family: monospace;
}

/* cards actualidad */
body{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03rem;
  line-height: 1,6;
}

.titulo-actualidad{
   text-align: center;
   font-size: 40px;
   color: white;
   margin-top: 100px;
   font-weight: 100;

}
.conteiner1{
   width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

}

.conteiner1 .card1{
   width: 330px;
   height: 430px;
   border-radius:  8px; 
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: auto;
   text-align: center;
   transition: all 0.30s;
}
.conteiner1 .card1:hover{
   transform: translate(-15px);
   box-shadow: 0 12px 16px rgb(0, 0,0,0.2);
   
}
.conteiner1 .card1 img{
   width: 330px;
   height: 220px;

}
.conteiner1 .card1 h4{
   font-weight: 600;
}
.conteiner1 .card1 p{
   padding: 0 1rem;
   font-size: 16px;
   font-weight: 300;
   color: white;
}
.conteiner1 .card1 a{
   font-weight: 500;
   text-decoration: none;
   color: #3498db;

}













.ConferenciaO {
  color: black;
  
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.contenedorequipo{
  display: flex;
 flex-wrap: wrap;
 gap: 35px;
 margin-top: 2re;
}

.cartas-equipos{
  display:flex;
  flex-direction: column;
  background-color: whitesmoke;
  
}

.card{
  box-shadow: 3px 3px 5px black;
}
.ConferenciaE {
  color: black;

  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

/* contacto*/
form {
  width: 45%;
  margin: 50px;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  align-items: center;
}

h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  color: white;
  text-align: left;
  margin: 0;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100px;
}

#boton {
  background: red;
  color: white;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 104);
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.redes {
  display: flex;
  gap: 5rem;
}

.redes li {
  list-style: none;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
@media (max-width: 375px) {
  form {
    width: 100%;
  }
  header {
    flex-direction: column;
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .img2 {
    width: 100px;
  }
}/*# sourceMappingURL=main.css.map */




