
 
$azulheader:rgb(0, 0, 104);
$negro:#000000;
$blanco:white;
$degrade:to bottom, #eb0022, #eb0022, #eb0022, #eb0022, #eb0022, #d80027, #c5002a, #b1002c, #840c2b, #591124, #2f1018, #000000;
$rojo:red;


nav{
      a{
          &:hover{
            $rojo:red; }
        }
}

          