
body {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #1e1e1f, #1a1b35, #12174a, #06105e, #000070);
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; }
main{
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #1e1e1f, #1a1b35, #12174a, #06105e, #000070);
  margin: 0px 50px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding-bottom: 2rem;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* header */
.navbar{
  color: #ffff;
}
.navContainer{
  justify-content: space-between;
  align-items: center;
}
.logo img{
  height: 85px;
  border-radius: 5px;
}
.logo a{
  font-size: 2em;
  color:#ffff;
}
.nav-item a{
  color:#ffff;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item a:hover{
  color: red;
  text-decoration: none;
}
/* noticas jugadores ----------------------------------------------------------------------------------------------------------*/
.contenedor-noticia{
  color:black;
  width: 65%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  margin-top: 2rem;
  font-weight: bold;
}
.contenedor-noticia img{
  width: 75%;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* index */
.frase-slogan{
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  display: flex;
flex-direction: column;
justify-content: center
}
.frase-slogan p{
  margin-top: 2rem;
}
.contenedor-index {
width: 60%;
padding: 2rem;
}
.video{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}
.section-index{
  display: flex;
}

/* cards actualidad --------------------------------------------------------------------------------*/

.titulo-actualidad{
   text-align: center;
   font-size: 40px;
   color:#ffff;
   margin-top: 100px;
   font-weight: 100;
   font-family: Arial, Helvetica, sans-serif;

}
.contenedor-actualidad{
   width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.contenedor-actualidad .card{
   width: 330px;
   height: 430px;
   border-radius:  8px; 
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: 5rem;
   text-align: center;
   transition: all 0.30s;
  

  
}
.contenedor-actualidad .card:hover{
   transform: translate(-15px);
   box-shadow: 0 12px 16px rgb(0, 0,0,0.2);
   
}
.contenedor-actualidad .card img{
   width: 330px;
   height: 220px;

}
.contenedor-actualidad .card h4{
   font-weight: 600;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}
.contenedor-actualidad .card p{
   padding: 0 1rem;
   font-size: 16px;
   font-weight: 300;
   color: black;
}
.contenedor-actualidad .card a{
   font-weight: 500;
   text-decoration: none;
   color:#ffff;
   margin: auto;
}
.carousel-item p{
  color:#ffff;
}
.carousel {
  display: flex;
  justify-content: center;
}
.texto-carousel {
  display: flex;
  justify-content: center; 
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.texto-carousel h4{
  color:#ffff;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
}
.imagenes-semanales h1 {
  color:#ffff;
  text-align: center;
  border-radius: 25px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
.imagenes-semanales{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem; 
}
.titulo-actualidad h1{
  color:#ffff;
  text-align: center;
  border-radius: 25px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo-actualidad{
  display: flex;
  width: 100%;
  justify-content: center; 
}
/* cartas de equipos mejores equipos ---------------------------------------------------------------------------*/
.ConferenciaO {
  color: #ffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  }
.contenedorequipo{
  display: flex;
 flex-wrap: wrap;
 gap: 35px;
 margin-top: 2rem;
 justify-content: center;
}
.cartas-equipos{
  display:flex;
  flex-direction: column;
}
.card{
  box-shadow: 6px 6px 10px black;
}
.ConferenciaE {
  color: #ffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.card-body {
  color: #000000;
}
/* cards premios mejores jugadores -----------------------------------------------------------------------------*/
.premios2022{
  display: flex;
  width: 100%;
  justify-content: center; 
}
.premios2022 h1{
  color:#ffff;
  text-align: center;
  width: 40%;
  margin-top: 2rem;
}
.contenedor-premios{
  display: flex;
 flex-wrap: wrap;
 gap: 35px;
 margin-top: 2rem;
 justify-content: center;
}
.contenedor-premios .card{
  margin: 2rem;
}
tbody{
  width: 100%;
}
td{
  margin: auto;
}
td a{
  text-decoration: none;
  color: #000000;
}
.card-body{
  text-align: center;
}
.lideres-estadisticas{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color:#ffff;
}
.contenedor-jugadores-lideres {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  border-radius: 35%;
  gap: 50px;
  margin: auto;
}
.contenedor-jugadores-lideres h4{
  color:#ffff;
  text-align: center;
}
.contenedor-jugadores-lideres p{
  color:#ffff;
  text-align: center;
  margin-top: 1rem;
}
.top10-playoffs{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.top10-playoffs h1{
  color:#ffff;
  text-align: center;
  width: auto;
}
.table{
  overflow-x: scroll;
 max-width: 100%;
}
/* contacto-------------------------------------------------------------------------------------------------------*/
.from-conctacto {
  width: 90%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
h2 {
  color:#ffff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.redes h3 {
  color:#ffff;
  text-align: left;
  margin-bottom: 1rem;
}
input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
textarea {
 height: 200px;
}
/* footer------------------------------------------------------------------------------------------------------------- */

footer {
  display: flex;
  background-color: #000000;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.redes ul{
  display: flex;
  gap: 1rem;
}
.redes ul li{
  list-style: none;
}
.texto-footer p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 1000px) {
  form {
    width: 55px;;
  }
}
@media (max-width: 850px) {
  form {
    width: 100%;
  }
  .top10-playoffs h1 {
    width: auto;
  }
}
@media (max-width: 375px) {
  form {
    width: 100%;
  }
  .texto-carousel h4{
    width: 100%;
  }
  .contenedor-actualidad .card{
    margin: 0;
    margin-bottom: 1rem;
   min-height: 300px;
 }
 .contenedor-actualidad .card img{
  width: 100%;
 }
 .ConferenciaE{
justify-content: center;
 }
.contenedor-jugadores-lideres{
  width: 100%;
  margin: auto;
}
main{
  margin: 0%;
}
.lideres-estadisticas{
  padding: 1rem;
  text-align: center;
}
.section-index{
  flex-direction: column;
}
.contenedor-index{
  width: 100%;
  padding: 0;
}
.frase-slogan{
  width: auto;
  padding: 1rem;
}
.frase-slogan h1{
  margin-bottom: 2rem;
}
.video{
  height: 250px;
}
footer{
  flex-direction: column;
  justify-content: center;
}
 .texto-footer ul{
  padding: 0%;
}
.contenedor-noticia{
  padding: 0.5rem;
  width: 100%;
}
.contenedor-noticia img{
  width: 100%;
  margin-bottom: 0.5rem;
}
}
/*# sourceMappingURL=main.css.map */




