
body {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #1e1e1f, #1a1b35, #12174a, #06105e, #000070);
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  
}
/* -------------------------------------------------------------------------------------------------------------------------- */

.navbar{
  color: #ffff;
  
}

.navContainer{
  justify-content: space-between;
  align-items: center;
}
.logo img{
  height: 85px;
  border-radius: 5px;
}
.logo a{
  font-size: 2em;
  color: #fff;
}

.nav-item a{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item a:hover{
  color: red;
  text-decoration: none;
}

/* index */
.frase-slogan{
  margin-top: 10rem;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor-index p{
color: #fff;
margin-top: 15rem;
font-family: Arial, Helvetica, sans-serif;
}
.video{
    display: flex;
    justify-content: space-around;
   
    
}





/* cards actualidad --------------------------------------------------------------------------------*/

.titulo-actualidad{
   text-align: center;
   font-size: 40px;
   color: white;
   margin-top: 100px;
   font-weight: 100;
   font-family: Arial, Helvetica, sans-serif;

}
.conteiner-actualidad{
   width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.conteiner-actualidad .card{
   width: 330px;
   height: 430px;
   border-radius:  8px; 
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: 5rem;
   text-align: center;
   transition: all 0.30s;

  
}
.conteiner-actualidad .card:hover{
   transform: translate(-15px);
   box-shadow: 0 12px 16px rgb(0, 0,0,0.2);
   
}
.conteiner-actualidad .card img{
   width: 330px;
   height: 220px;

}
.conteiner-actualidad .card h4{
   font-weight: 600;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}
.conteiner-actualidad .card p{
   padding: 0 1rem;
   font-size: 16px;
   font-weight: 300;
   color: black;
}
.conteiner-actualidad .card a{
   font-weight: 500;
   text-decoration: none;
   color: white;
}



.carousel-item p{
  color: whitesmoke;
}

.carousel {
  display: flex;
  justify-content: center;
}

.texto-carousel {
  display: flex;
  justify-content: center; 
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-carousel h4{
  color:whitesmoke;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
}

.imagenes-semanales h1 {
  color:whitesmoke;
  text-align: center;
  border-radius: 25px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.imagenes-semanales{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem; 
}
.titulo-actualidad h1{
  color:whitesmoke;
  text-align: center;
  border-radius: 25px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo-actualidad{
  display: flex;
  width: 100%;
  justify-content: center; 
}





/* cartas de equipos mejores equipos */

.ConferenciaO {
  color: #ffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  }

.contenedorequipo{
  display: flex;
 flex-wrap: wrap;
 gap: 35px;
 margin-top: 2re;
}

.cartas-equipos{
  display:flex;
  flex-direction: column;
}

.card{
  box-shadow: 6px 6px 10px black;
}

.ConferenciaE {
  color: #ffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card-body {
  color: #000000;
}

/* cards premios mejores jugadores */
.premios2022{
  display: flex;
  width: 100%;
  justify-content: center; 
}
.premios2022 h1{
  color:whitesmoke;
  text-align: center;
  width: 40%;
  margin-top: 2rem;
}
.contenedor-premios{
  display: flex;
 flex-wrap: wrap;
 gap: 35px;
 margin-top: 2rem;

 
}

.contenedor-premios .card{
  margin: 2rem;
}


td a{
  text-decoration: none;
  color: #000000;
}
.card-body{
  text-align: center;
}

/* ---------------------------- */
.lideres-estadisticas{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color:white;
}

.contenedor-jugadores-lideres {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border-radius: 35%;
}

.jugadores{
  margin: 85px;
}


.contenedor-jugadores-lideres h4{
  color: white;
  text-align: center;
}

.contenedor-jugadores-lideres p{
  color: white;
  text-align: center;
  margin-top: 1rem;
}
/* --------------------------- */


.top10-playoffs{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.top10-playoffs h1{
  color:whitesmoke;
  text-align: center;
  width: 40%;
}



/* contacto*/
form {
  width: 45%;
  margin: 50px;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  display: inline-block;
}

h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  color: white;
  text-align: left;
  margin: 0;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
 height: 200px;
}








/* main  */
main{
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #1e1e1f, #1a1b35, #12174a, #06105e, #000070);
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding-bottom: 2rem;
}




footer {
  display: flex;
  background-color: rgb(0, 0, 104);
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  
}
.redes ul{
  display: flex;
  gap: 1rem;

}
.redes ul li{
  list-style: none;
}

.texto-footer p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 858px) {
  form {
    width: 100%;
  }
}


@media (max-width: 480px) {
  footer{
    flex-direction: column;
  }
  form {
    width: 100%;
    
  }
}
@media (max-width: 375px) {
  form {
    width: 100%;
  }
  
}/*# sourceMappingURL=main.css.map */




